@import './variables'; 
@import './typography';


//HEADER
body>header{
    background-color: rgba(17, 17, 17, 0.91);
    
    backdrop-filter: blur(15px);

    width: 100%; 
    height: 3.5rem;
    padding: 0 4rem;

    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    >a{
        text-decoration: none;
        h2{
            color: $white;
        }
    }


    >ul{
        
        @include center;
        justify-content: space-between;
        list-style: none;
        gap: 1.5rem;

        >li{
            @include center;
            width: 6rem;
            
            &.login{
                
                margin-left: 1.5rem;
                >a{
                    @include colorize($green);
                    color: $black;
                    font-weight: 600;
                    border-radius: $radius;
                    height: 2rem;
                    width: 100%;
                    background-color: none;
                    text-decoration: none
                }
            }
            >a{
                @include center;
                color: $white;   
            }
        }
    }

}

section.lootbox_welcome{
    height: 100vh;
    @include center;
    flex-direction: column;
    background-image: url(../img/wave1.svg), url(../img/blob-1-opacity-86.gif), url(../img/blob-1-opacity-86.gif) ;
    background-repeat: no-repeat;
    background-position-x: center, 90%, 3%;
    background-position-y: bottom, 10%, 60%;
    background-size: 100%, 12rem, 10rem;
    
    gap: 7rem;
    
    h1{
        font-size: 5rem;
        text-align: center;
        font-weight:500;
    }
    button{
        
        font-weight: 500;
        font-size: 0.75rem;
        @include colorize($green);
        border: none;
        border-radius: 999999px;
        @include center;
        flex-direction: column;
        height: 3.2rem;
        width: 13rem;
        

        &:hover{
            cursor: pointer;
        }

        >img{
            width: 0.8rem;
            margin-top: 0.1rem;
            margin-bottom: -0.4rem;
        }

    }
}

main.lootbox_container{
    background-image: url(../img/wave2.svg);
    background-position-y: -2px;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 100vh;
    @include center;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    padding: 15rem 4rem 0 4rem;
    gap: 1rem;

    article.lootbox {
        background-color: $white;

        @include center;
        justify-content: space-between;
        flex-direction: row;
        
        max-width: 30rem;
        width: 100%;
        padding: 0 1.5rem;
        height: 7rem;
        @include border($black);
        >img {
            max-width: 5rem;
            width: 100%;
           
        }
        >div.priceBuy{
            @include center;
            flex-direction: column;
            gap: 0.4rem;

            >p{
                font-weight: 500;
                font-size: 1.2rem;
            }

            >a{
                @include center;
                width: 7.5rem;
                height: 2.2rem;
                font-weight: 600;
                text-decoration: none;

                border-radius: $radius;

                &.available{
                    @include colorize($green);
                    color: $black;
                    border: $black solid 2px; 
                }
            }
        }
        >div.rating{
            @include center;
            flex-direction: row;
            >img{
                max-width: 2rem;
                width: 100%;
            }
        }
    


    }
}



