$black: rgb(17, 17, 17);
$almost_white:rgb(238, 238, 238);
$superLight_grey:rgb(226, 226, 226);
$orange: rgb(255, 136, 0);
$green: rgb(27, 223, 70);
$dark_grey: rgba(100, 100, 100, 0.774);
$dark_grey_text: rgb(46, 46, 46);

$common_blue:rgb(26, 47, 231);
$rare_red: rgb(245, 20, 20);
$epic_purple:rgb(173, 15, 187);

$radius: 4px;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin border($color) {
    border: $color solid 3px;
}

@mixin colorize($color){
    background-color: $color;

    &:hover{
        background-color: $color +80;
    }
}
// ($color, $size)
@mixin star($color, $size_noUnit){
    $size:(1px*$size_noUnit);
    margin: 50*$size 0;
    position: relative;
    display: block;
    color: $color;
    width: 0*$size;
    height: 0*$size;
    border-right: 100*$size solid transparent;
    border-bottom: 70*$size solid $color;
    border-left: 100*$size solid transparent;
    transform: rotate(35deg);
    
    &:before {
        border-bottom: 80*$size solid $color;
        border-left: 30*$size solid transparent;
        border-right: 30*$size solid transparent;
        position: absolute;
        height: 0;
        width: 0;
        top: -45*$size;
        left: -65*$size;
        display: block;
        content: '';
        transform: rotate(-35deg);
    }
    &:after {
        position: absolute;
        display: block;
        color: $color;
        top: 3*$size;
        left: -105*$size;
        width: 0*$size;
        height: 0*$size;
        border-right: 100*$size solid transparent;
        border-bottom: 70*$size solid $color;
        border-left: 100*$size solid transparent;
        transform: rotate(-70deg);
        content: '';
    }
}