@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  font-family: 'IBM Plex Mono', monospace;
}

form input {
  font-family: 'IBM Plex Mono', monospace;
}

button {
  font-family: 'IBM Plex Mono', monospace;
}

body > header {
  background-color: rgba(17, 17, 17, 0.91);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 10;
  width: 100%;
  height: 3.5rem;
  padding: 0 4rem;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body > header > a {
  text-decoration: none;
}

body > header > a:hover h2 {
  border-bottom: solid 2px #e2e2e2;
}

body > header > a h2 {
  color: #e2e2e2;
}

body > header > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  gap: 1.5rem;
}

body > header > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8.4rem;
}

body > header > ul > li.login {
  margin-left: 1.5rem;
}

body > header > ul > li.login > a {
  background-color: #00d680;
  color: #111111;
  font-weight: 600;
  border-radius: 4px;
  height: 2rem;
  width: 80%;
  background-color: none;
  text-decoration: none;
}

body > header > ul > li.login > a:hover {
  background-color: #50ffd0;
}

body > header > ul > li.signup > a {
  border: solid 1px #e2e2e2;
  border-radius: 4px;
  height: 2rem;
  width: 80%;
  text-decoration: none;
  font-weight: 400;
}

body > header > ul > li.signup > a:hover {
  background-color: rgba(255, 255, 255, 0.11);
  font-weight: 500;
}

body > header > ul > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e2e2e2;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

body > header > ul > li > a:hover {
  -webkit-transition: 0.15s;
  transition: 0.15s;
  font-weight: 600;
}

body > header > ul > li > a.active {
  background-color: rgba(100, 100, 100, 0.774);
  padding: 0.4rem 0.5rem;
  border-radius: 4px;
}

body > footer {
  height: 15rem;
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body > footer > svg {
  overflow-x: hidden;
  position: relative;
  margin-top: -20%;
}

body > footer > div.info {
  -webkit-transform: translateY(-7rem);
          transform: translateY(-7rem);
}

body > footer h1, body > footer h5 {
  color: #eeeeee;
}

section.lootbox_welcome {
  background-color: #eeeeee;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  background-image: url(../img/wave1.svg), url(../img/blob-1-opacity-86.gif), url(../img/blob-1-opacity-70.gif);
  background-repeat: no-repeat;
  background-position-x: center, 90%, 3%;
  background-position-y: bottom, 10%, 60%;
  background-size: 100%, 12rem, 12rem;
}

section.lootbox_welcome h1 {
  font-size: 5rem;
  text-align: center;
  font-weight: 500;
}

section.lootbox_welcome h4 {
  color: #2e2e2e;
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}

section.lootbox_welcome button {
  z-index: 2;
  border: none;
  background: none;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

section.lootbox_welcome button:hover {
  -webkit-transition: 0.15s;
  transition: 0.15s;
  cursor: pointer;
}

section.lootbox_welcome button h3 {
  -webkit-transition: 0.15s;
  transition: 0.15s;
  background-color: #00d680;
  padding: 0.8rem 1.2rem;
  border-radius: 99999px;
  font-weight: 600;
}

section.lootbox_welcome button h3:hover {
  background-color: #50ffd0;
}

section.lootbox_welcome button > img {
  width: 1.3rem;
  margin-top: 0.5rem;
}

main.lootbox_container {
  background-color: #eeeeee;
  background-image: url(../img/wave2.svg);
  background-position-y: -2px;
  background-position-x: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15rem 4rem 0 4rem;
  gap: 1rem;
}

main.lootbox_container article.lootbox {
  background-color: #e2e2e2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
  max-width: 30rem;
  width: 100%;
  height: 7rem;
  border: #111111 solid 3px;
}

main.lootbox_container article.lootbox > div.nameIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main.lootbox_container article.lootbox > div.nameIcon > h3 {
  font-weight: 500;
}

main.lootbox_container article.lootbox > div.nameIcon > img {
  max-width: 3rem;
  width: 100%;
}

main.lootbox_container article.lootbox > div.priceBuy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.4rem;
}

main.lootbox_container article.lootbox > div.priceBuy > p {
  font-weight: 500;
  font-size: 1.2rem;
}

main.lootbox_container article.lootbox > div.priceBuy > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7.5rem;
  height: 2.2rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
}

main.lootbox_container article.lootbox > div.priceBuy > a.available {
  background-color: #00d680;
  color: #111111;
  border: #111111 solid 2px;
}

main.lootbox_container article.lootbox > div.priceBuy > a.available:hover {
  background-color: #50ffd0;
}

main.lootbox_container article.lootbox > div.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main.lootbox_container article.lootbox > div.rating > img {
  max-width: 2rem;
  width: 100%;
}

main.lootbox_container article.lootbox > div.rating > img:hover {
  cursor: pointer;
}

main#create_lootbox {
  background-color: #eeeeee;
  height: 85rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 10rem;
  gap: 3rem;
}

main#create_lootbox form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main#create_lootbox form ol li {
  margin-bottom: 3rem;
  width: 30rem;
  font-weight: 600;
}

main#create_lootbox form ol li:nth-child(1) > div {
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40rem;
}

main#create_lootbox form ol li:nth-child(1) > div article.formImgNFT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 8rem;
  z-index: 4;
}

main#create_lootbox form ol li:nth-child(1) > div article.formImgNFT figure {
  background-color: #e2e2e2;
  height: 5rem;
  width: 6rem;
  border-radius: 4px;
  border: none;
}

main#create_lootbox form ol li:nth-child(1) > div article.formImgNFT figure img {
  border-radius: 4px;
  background: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main#create_lootbox form ol li:nth-child(1) > div article.formImgNFT .inputfile {
  margin-top: 1rem;
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 14rem;
}

main#create_lootbox form ol li:nth-child(2) > section {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main#create_lootbox form ol li:nth-child(2) > section div.rarity_radio_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 2.5rem;
}

main#create_lootbox form ol li:nth-child(2) > section div.rarity_radio_container > input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
  background-color: none;
  width: 5.5rem;
  height: 100%;
  border-radius: 4px;
}

main#create_lootbox form ol li:nth-child(2) > section div.rarity_radio_container > input[type="radio"]:hover {
  cursor: pointer;
}

main#create_lootbox form ol li:nth-child(2) > section div.rarity_radio_container > input[type="radio"]#common {
  border: 3px solid #5b8eee;
}

main#create_lootbox form ol li:nth-child(2) > section div.rarity_radio_container > input[type="radio"]#common:checked {
  background-color: #5b8eee;
}

main#create_lootbox form ol li:nth-child(2) > section div.rarity_radio_container > input[type="radio"]#rare {
  border: 3px solid #c814f5;
}

main#create_lootbox form ol li:nth-child(2) > section div.rarity_radio_container > input[type="radio"]#rare:checked {
  background-color: #c814f5;
}

main#create_lootbox form ol li:nth-child(2) > section div.rarity_radio_container > input[type="radio"]#epic {
  border: 3px solid #e6cf02;
}

main#create_lootbox form ol li:nth-child(2) > section div.rarity_radio_container > input[type="radio"]#epic:checked {
  background-color: #e6cf02;
}

main#create_lootbox form ol li:nth-child(2) > section div.rarity_radio_container > label {
  position: absolute;
  pointer-events: none;
  font-weight: 600;
}

main#create_lootbox form ol li:nth-child(3) > div.namePriceContainer {
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

main#create_lootbox form ol li:nth-child(3) > div.namePriceContainer > input[type="text"] {
  border: 2px solid #111111;
  height: 2rem;
  border-radius: 4px;
  font-weight: 600;
  height: 2.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  padding-left: 0.5rem;
}

main#create_lootbox form ol li:nth-child(3) > div.namePriceContainer > input[type="text"]:focus {
  outline: none;
  border: 3px solid #111111;
}

main#create_lootbox form ol li:nth-child(3) > div.namePriceContainer > input[type="number"] {
  padding-left: 0.5rem;
  border: 2px solid #111111;
  height: 2rem;
  border-radius: 4px;
  font-weight: 600;
  height: 3rem;
  font-size: 1.7rem;
  font-weight: 400;
  width: 7rem;
}

main#create_lootbox form ol li:nth-child(3) > div.namePriceContainer > input[type="number"]:focus {
  outline: none;
  border: 3px solid #111111;
}

main#create_lootbox form > input[type="submit"] {
  width: 7rem;
  height: 2.5rem;
  border: 3px solid #111111;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
  border-radius: 4px;
  font-weight: 500;
  background-color: #00d680;
  font-size: 1.2rem;
}

main#create_lootbox form > input[type="submit"]:hover {
  background-color: #50ffd0;
}

main#create_lootbox form > input[type="submit"]:hover {
  cursor: pointer;
}

*, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */